<h1>Show Answer map</h1>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @answer_map.value %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.answer_map_path(@conn, :edit, @answer_map) %></span>
<span><%= link "Back", to: Routes.answer_map_path(@conn, :index) %></span>
