<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#template_name").focus();
  });
</script>

<div class="row section-menu">
  <div class="col-md-12">
    <div class="card border-primary">
      <div class="card-body">
        <%= render "form.html", Map.merge(assigns, %{
          action: Routes.template_path(@conn, :create)
        })
        %>
      </div>
    </div>
  </div>
</div>

