<h1>Show Answer text</h1>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @answer_text.value %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.answer_text_path(@conn, :edit, @answer_text) %></span>
<span><%= link "Back", to: Routes.answer_text_path(@conn, :index) %></span>
